<!--Carousel Wrapper-->
<div id="carousel-with-lb" class="carousel slide carousel-multi-item _car-sel" data-ride="carousel">

  <!--Controls-->
  <div class="title-carousel d-flex-inline">
    <div class="title">
      <h3>Top visited this month</h3>
    </div>
 <!--  <div class="controls-top">
    <a class="btn-floating style-btn" href="#carousel-with-lb" data-slide="prev"><i
        class="fas fa-chevron-left"></i></a>
    <a class="btn-floating style-btn" href="#carousel-with-lb" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div> -->
  </div>
  <!--/.Controls-->

  <!--Bottom Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
    <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
    <!-- <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li> -->
  </ol>
  <!--/.Indicators-->

  <!--Slides and lightbox-->

  <div class="carousel-inner mdb-lightbox" role="listbox">
    <div id="mdb-lightbox-ui"></div>
    <!--First slide-->

    <div class=" carousel-item active text-center">

      <figure class="col-md-3 d-md-inline-block images">
        <%= image_tag 'https://source.unsplash.com/random', height: 200, width: 400, crop: :fill %>
      </figure>
      <figure class="col-md-3 d-md-inline-block images">
        <%= image_tag 'https://source.unsplash.com/random', height: 200, width: 400, crop: :fill %>
      </figure>
      <figure class="col-md-3 d-md-inline-block images">
        <%= image_tag 'https://source.unsplash.com/random', height: 200, width: 400, crop: :fill %>
      </figure>

    </div>
     <div class=" carousel-item text-center">
       <figure class="col-md-3 d-md-inline-block images">
        <%= image_tag 'https://source.unsplash.com/random', height: 200, width: 400, crop: :fill %>
      </figure>
      <figure class="col-md-3 d-md-inline-block images">
        <%= image_tag 'https://source.unsplash.com/random', height: 200, width: 400, crop: :fill %>
      </figure>
      <figure class="col-md-3 d-md-inline-block images">
        <%= image_tag 'https://source.unsplash.com/random',height: 200, width: 400, crop: :fill %>
      </figure>

    </div>


    <!--Second slide-->
  </div>
 <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
